/* .contenair{ margin: 0 auto; width: 90%; background-color: rgb(13, 12, 13); position:relative; top: 4.5rem; border: 2px solid orange; } */
.contenair{ margin-bottom: 5rem; margin-top: 0rem; margin-left: auto; margin-right: auto; width: 90%; background-color: rgb(13, 12, 13); position:relative; top: 4.5rem; border-top: 1px solid rgb(255, 255, 255); border-bottom: 2px solid white; border-left: 2px solid orange; border-right: 2px solid orange; }
.banniere{ background-image: url(../images/font/cuisine-1.webp); background-size: cover; justify-content: center; background-repeat: no-repeat; align-items: center; text-align: center; width: 100%; height: auto; }
.banniere .plateform{ font-weight: bolder; font-family:magneto; padding-top: 8rem; color: white; -webkit-text-stroke: 2px; -webkit-text-stroke-color: orange; }
.banniere .plateform span{ color: black; -webkit-text-stroke: 2px; -webkit-text-stroke-color: rgb(255, 255, 255); }
.banniere .slogan{ padding-bottom: 8rem; font-size: 2rem; font-weight: 700; -webkit-text-stroke: .5px; -webkit-text-stroke-color: rgb(255, 255, 255); }
.banniere .slogan span{outline: none; color: white; -webkit-text-stroke: 1px; -webkit-text-stroke-color: orange; font-weight: bolder; font-family:magneto; }
.banniere2{ background-image: url(../images/font/cuisine-1.webp); background-size: cover; justify-content: center; background-repeat: no-repeat; align-items: center; text-align: center; width: 100%; height: 500px; animation: change_background_banniere2 infinite 20s; }
@keyframes change_background_banniere2 {
    0%{ background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; }
    15%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    25%{ background-image: url(../images/font/a-kabato.jpg); background-size: cover cover; }
    35%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    50%{ background-image: url(../images/font/a-tchep-gen.jpg); background-size: cover cover; }
    65%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    75%{ background-image: url(../images/font/foutou-banane.jpg); background-size: cover cover; }
    85%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    90%{ background-image: url(../images/font/APF-b.jpg); background-size: cover cover; }
    100%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
}
div.contenair div.banniere2 div.after:after{  content: "Le Foufou au pays AKAN (Origine: Ghana et Côte d'Ivoire)";  font-size: 1.5rem; font-weight: bolder; animation: fud-name infinite 20s; -webkit-text-stroke: 2px; }
@keyframes fud-name {
    0%{ content: "Le Foufou au pays AKAN (Origine: Ghana et Côte d'Ivoire)";  -webkit-text-stroke-color: rgb(0, 0, 0); color: #ffffff; }
    15%{ /* content: "58"; */ }
    25%{ content: "Le Kabato au Pays Madingue (Origine: Mali, Côte d'Ivoire et Burkina Fasso)"; -webkit-text-stroke-color: rgb(255, 0, 0); color: #000000; }
    35%{ /* content: "00"; */ }
    50%{ content: "Le Tchep Gen des Diop (Origine: Sénégal)"; -webkit-text-stroke-color: rgb(0, 47, 255); color: #ffe100; }
    65%{ /* content: "88"; */ }
    75%{ content: "Le Foutou Royal Chez de la Côte d'Ivoire"; -webkit-text-stroke-color: rgb(0, 255, 13); color: #ff00cc; }
    85%{ /* content: "03.2"; */ }
    90%{ content: "L'Attiéké-Poission-Fummé de la Côte d'Ivoire (APF)"; -webkit-text-stroke-color: rgb(255, 0, 208); color: #ffe100; }
    100%{ /* content: "ADJEKE POISSON BRAISE (APF)"; */ }
}
.banniere2 .plateform{ font-weight: bolder; font-family:magneto; padding-top: 8rem; color: white; -webkit-text-stroke: 2px; -webkit-text-stroke-color: orange; }
.banniere2 .plateform span{ color: black; -webkit-text-stroke: 2px; -webkit-text-stroke-color: rgb(255, 255, 255); }
.banniere2 .slogan{ padding-bottom: 8rem; font-size: 2rem; font-weight: 700; -webkit-text-stroke: .5px; -webkit-text-stroke-color: rgb(255, 255, 255); }
.banniere2 .slogan span{ outline: none; color: white; -webkit-text-stroke: 1px; -webkit-text-stroke-color: orange; font-weight: bolder; font-family:magneto; }

@media screen and (max-width: 570px) { .contenair{ top: 3.1rem; } }

div.banniere-presentation{ display: flex; justify-content: center; position: relative; flex-wrap: wrap; width: 100%; margin: 10px auto 0; max-width: 1425px; background-color: rgb(233, 216, 186); border-radius: 1rem 1rem 0 0; }
div.banniere-presentation div.presentation{ background-color:aquamarine ;width: 48%; margin: 5px; overflow: hidden; flex-shrink: 0;border: 1px solid red;box-shadow: .1px .1px 1px 1px rgb(255, 255, 255);border-radius: 1rem;padding: 5px; }
#presentation{background-clip: border-box; animation: change-backgroud infinite 2s; }
@keyframes change-backgroud {
    0%{background: linear-gradient(100deg,#ff0000 0%, #832525 25%, #340101 50%, rgb(95, 95, 94) 75%, rgb(215, 215, 147) 100%); background-clip: border-box;}
    25%{background: linear-gradient(100deg,#5e6955 0%, #000000 25%, #ffd000 50%, #181817 75%, #010dee 100%); background-clip: border-box;}
    50%{background: linear-gradient(100deg,#ef0c91 0%, #d11414 25%, #0dd6f1 50%, #c2c20f 75%, #7e1b50 100%); background-clip: border-box;}
    75%{background: linear-gradient(100deg,#060606 0%, #ffffff 25%, #ffc400 50%, #2600ff 75%, #0dff00 100%); background-clip: border-box;}
    100%{background: linear-gradient(100deg,#2200ff 0%, #ff0000 25%, #00ff0d 50%, #ffff00 75%, #ff0088 100%); background-clip: border-box;}
}
div.banniere-presentation div.presentation video{ width: 100%; border-radius: 1rem; border: 1px solid black; }
.pub{ width: 100%; margin:5px auto; border-radius: 1rem;}
#contact{ background-image: url(../images/font/cuisine-1.webp); background-size: cover; justify-content: center; background-repeat: no-repeat; align-items: center; text-align: center; animation: change_background_banniere2 infinite 20s; }
@keyframes change_background_banniere2 {
    0%{ background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; }
    15%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    25%{ background-image: url(../images/font/a-kabato.jpg); background-size: cover cover; }
    35%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    50%{ background-image: url(../images/font/a-tchep-gen.jpg); background-size: cover cover; }
    65%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    75%{ background-image: url(../images/font/foutou-banane.jpg); background-size: cover cover; }
    85%{ /* background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; */ }
    90%{ background-image: url(../images/font/APF-b.jpg); background-size: cover cover; }
    100%{ background-image: url(../images/font/a-foutou.jpg); background-size: cover cover; }
}

div.banniere-presentation2{ display: flex; justify-content: center; position: relative; flex-wrap: wrap; width: 100%; margin: 10px auto 0; max-width: 900px;  border-radius: 1rem 1rem 0 0; }
div.banniere-presentation2 div.presentation2{ background-color:orange ;width: 100%; margin: 5px; overflow: hidden; flex-shrink: 0;border: 1px solid red;box-shadow: .1px .1px 1px 1px rgb(255, 255, 255);border-radius: 1rem;padding: 5px; }
div.presentation2 video{ width: 100%; height: auto; border: 1px solid blueviolet; border-radius: 1rem;}

.contact p.title{ justify-content: center; align-items: center; text-align: center; margin: 1rem auto; border: 2px solid orange; padding: .3rem; width: 12rem; border-radius: 10px; }
.contact p.title:hover{ color: white; background-color: orange; border: 2px solid white; }
div.contact div.icon-contact{ align-items: center; justify-content: center; text-align: center;  margin-top:  1.5rem ; }
div.contact div.icon-contact a{margin: 10%; }
div.contact div.icon-contact img{width: 1.8rem; }

div.galerie-video{ 
    display: flex; 
    justify-content: center; 
    position: relative; 
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto 0;
    max-width: 1425px;
    background-color: rgb(233, 216, 186); 
}
.item-video{ 
    width: 261px;
     height: auto;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: .1px .1px 1px 1px rgb(0, 0, 0, .7);
    border-radius: 1rem;
    border: 2px solid white; 
}

.item-video a{ color: black; }
.item-video video{ outline: none; width: 100%; top: -2rem; border: 2px solid orange; background-color: #000000; border-radius: 1rem 1rem 0 0;}
.item-video img{ position: relative; top: -6rem;  margin: 0 auto;  left: 40%; width: 2rem; }
.description{  padding: 1rem 0 5px 5px; margin-top: -17%; background-color: #292c29; }
.description strong{ color: orange; }
.description span{color: white; }
.description p i{color: orange; font-weight: bolder; }
.description p u{color: rgb(255, 255, 255); font-weight: bolder; }
.description span:not(.log):hover{ border-bottom: 2px solid orange; font-weight: bolder; color: #aeaec0; }
.description h3{margin: 0 auto; justify-content: center; align-items: center; text-align: center; width: 4rem; background-color: white; padding: 2px; border-radius: .5rem; }
.description h3 span{ color: orange; }

